$primary: #283845;
$secondary: #109eb3;
$ternary: #ffb735;
* {
    list-style: none;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.icon-hover-effect:hover {
    color: $secondary;
}

a {
    color: inherit;
    text-decoration: none;
}

.stripe {
    <<<<<<< HEAD position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0 !important;
    =======background-image: none !important;
    background-color: $primary !important;
    text-align: center !important;
    width: 90% !important;
    margin-bottom: 5px;
    box-shadow: none !important;
    margin-left: 5% !important;
}

.stripe>span {
    background-image: none !important;
    text-align: center !important;
    padding-top: 3px !important;
    margin-bottom: 6px !important;
    margin-left: 4px;
    box-shadow: none !important;
    >>>>>>>main
}


/* Hide scrollbar for Chrome, Safari and Opera */

.scroll-no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.scroll-no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: scroll;
}

.HeroBanner {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

// GameList
.action-card {
    border-radius: 16;
    transition: '0.2s';
     :hover {
        transform: 'scale(1.1)';
    }
}

.card-game {
    border: 1px rgb(204, 202, 202) solid;
    border-radius: 16;
    box-shadow: none !important;
     :hover {
        border-radius: 4px;
        box-shadow: 0px 8px 8px -3px rgb(0 0 0 / 20%);
    }
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: $secondary;
}

.price {
    font-weight: 800;
    font-size: 1.5em;
}

.fixed {
    position: fixed;
}