$primary: #283845;
$secondary: #109eb3;
$ternary: #ffb735;

* {
  list-style: none;
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.icon-hover-effect:hover {
  color: $secondary;
}

.HeroBanner {

  @media screen and (max-width: 500px) {
     display: none;
    
  }
    
}