* {
  list-style: none;
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.subtitle-hero {
  text-shadow: 5px 1px 5px rgb(59, 59, 6);
}

.title-hero {
  text-shadow: 4px 0px 6px rgb(59, 59, 6);
}

.HeroBanner {

  @media screen and (max-width: 500px) {
     display: none;
    
  }
    
}