$primary: #283845;
$secondary: #109eb3;
$ternary: #ffb735;
$alert-main: #Dcc5a3;
$alert-error: #D05757;
$alert-success: #5AA65F;
$alert-info: #6fbdb5;
$alert-warning: #F7c274;
* {
	list-style: none;
}

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.icon-hover-effect:hover {
	color: $secondary;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	overflow: scroll;
}
.fixed {
	position: fixed;
}

// ALERTS
.alert-message-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:2;
	text-align: center;
	background-color: $alert-main;
}
.alert-error {
	background-color: $alert-error;
}
.alert-info {
	background-color: $alert-info;
}
.alert-success {
	background-color: $alert-success;
}
.alert-warning {
	background-color: $alert-warning;
}

// HERO BANNER
.HeroBanner {
	@media screen and (max-width: 500px) {
			display: none;
	}
}


// GameList
.action-card {
	border-radius: 16;
	transition: '0.2s';
		:hover {
			transform: 'scale(1.1)';
	}
}

.card-game {
	border: 1px rgb(204, 202, 202) solid;
	border-radius: 16;
	box-shadow: none !important;
		:hover {
			border-radius: 4px;
			box-shadow: 0px 8px 8px -3px rgb(0 0 0 / 20%);
	}
}

.badge {
	display: inline-block;
	padding: 0.35em 0.65em;
	font-size: .75em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	background-color: $primary;
}

.badge-rent {
	background-color: $secondary;
	font-size: .95em;
}

.price {
	font-weight: 800;
	font-size: 1.5em;
}



@media screen and (max-width:500px) {
	.login-image {
			display: none
	}
	.card-game-list {
			align-items: center;
	}
}

@media screen and(min-width:900px) and (max-width:1207px) {
	.login-image {
			height: 386px !important
	}
}

@media screen and(min-width:1208px) and (max-width:4000px) {
	.login-image {
			height: 361px !important;
	}
}

@media screen and (max-width:899px) {
	.card-game-list {
			align-items: center;
	}
	.buttons-card {
			margin-left: 3% !important;
			margin-right: 3% !important;
	}
	.game-info-details {
			align-items: center;
	}
}

// STRIPE 
.stripe {
	background-image: none !important;
	background-color: $primary !important;
	text-align: center !important;
}

.stripe>span {
	background-image: none !important;
	text-align: center !important;
}

.stripe-package {
	width: 96%;
	margin-left: 2%;
	margin-bottom: 0.4em;
}
