$primary: #283845;
$secondary: #109eb3;
$ternary: #ffb735;

* {
  list-style: none;
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======

.subtitle-hero {
  text-shadow: 5px 1px 5px rgb(59, 59, 6);
}
>>>>>>> main

.icon-hover-effect:hover {
  color: $secondary;
}

.HeroBanner {

  @media screen and (max-width: 500px) {
     display: none;
    
  }
    
}