$primary: #283845;
$secondary: #109eb3;
$ternary: #ffb735;

* {
  list-style: none;
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.icon-hover-effect:hover {
  color: $secondary;
}

a {
  color:inherit;
  text-decoration: none;
}

.stripe {
  position: absolute;
  width: 100%;
  height:100%;
  opacity:0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}

.HeroBanner {

  @media screen and (max-width: 500px) {
     display: none;
    
  }
    
}